.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  color: #2bc66a;
  font-size: 14px;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #2bc66a;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label .icon {
  height: 16px;
  margin-right: 4px;
}

.result-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-container {
  border-radius: 13px;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  transition: opacity 500ms;
  width: 500px;
  height: 410px;
  z-index: 101;
  display: none;
  margin: 0 auto;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popup-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.popup-content {
  padding: 33px;
  width: 100%;
  border-radius: 5px;

  /* position: relative; */
}

.popup-body {
  height: 280px;
  overflow: hidden;
}

.popup-body:hover {
  overflow-y: auto;
}

.close-button {
  font-size: 25px;
  border-radius: 50%;
  padding: 0.05em 0.2em 0.2em 0.3em;
  width: 30px;
  margin-top: -10px;
  height: 30px;
  background-color: #e5e4e2;
  color: white;
}

.close-button:hover {
  background-color: #4a8cc8;
  cursor: pointer;
}

.popup-content p {
  margin-top: 10px;
  /* overflow-y: scroll; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.overlay.visible {
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.4s;
}

@media screen and (max-width: 597px) {
  .popup-container {
    max-width: 400px;
  }

  .popup-container .close-button {
    margin-left: 80%;
  }
}
